table {
    border: 1px solid grey;
    width: 750px;
    height: 750px;
    border-spacing:0;
}

td {
    border: 1px dotted grey;
    padding: 0
}


/* td.true {
    border: none;
    background-color:black;
} */

td.dead {
    background-color: transparent;
}
td.alive {
    background-color:black;
}

.main {
    display: flex;
}